.App {
  text-align: center;
}
body{
  background-color: #F5F5F5;
  color: #000;
}

.header {
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: #800000;
  color: #FFFFFF;
  box-shadow: 2px 5px 5px #888888;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  margin-left: 2px;
  padding:2px;
}
.logo{
  margin: 10px;
}

.footer {
  position: fixed;
  padding: 15px 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #800000;
  color: white;
  text-align: center;
}
.title-text, .title-text-head{
  margin: 2px;
  padding: 2px;
}
.title-text-head{
  border-bottom: 1px solid #F5F5F5;
}
.container-title{
  display: flex;
}
.container-body{
  display:flex;
}
.container-nav{
  display: flex;
  flex-direction: column;
  width:20%;
  height: 90vh;
  color: #000;
  background-color: #212121;
  box-shadow: 2px 5px 5px  #888888;
}
.container-dashboard{
  color: #FFF;
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #757575;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
}
.container-view{
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}
.container-add{
  color: #FFF;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  background-color: #757575;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
}
.container-equipment-info{
  color: #FFF;
  width: 95%;
  height: 80vh;
  overflow-y: scroll;
  background-color: #757575;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
}
.container-edit{
  color: #FFF;
  width: 90%;
  height: 60vh;
  overflow-y: scroll;
  background-color: #757575;
  font-size: medium;
  font-weight: bold;
  margin: 10px 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
}
.container-manage{
  color: #000;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}
.container-item{
  display: flex;
  justify-content: space-evenly;
  color: #FFF;
  width: 95%;
  height: 50px;
  font-weight: bold;
  background-color: #757575;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
  padding: 5px;
}
.container-item-header{
  display: flex;
  justify-content: flex-start;
  color: #FFF;
  width: 95%;
  height: 20px;
  font-weight: bold;
  background-color: #757575;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
  padding: 10px 5px;
}
.container-filter{
  background-color: #757575;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
}
.container-metrics{
  display: flex;
}
.container-search, .container-add-user{
  padding-bottom: 15px;
  width: 98%;
  display: flex;
  font-size: large;
  font-weight: bold;
  justify-content: space-between;
  margin: 10px;
  background-color: #757575;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
}
.container-credentials{
  width: 100%;
  display: flex;
}
.container-logout{
  display: flex;
  width: auto;
  margin: 20px 5px;
  justify-content: space-around;
}
.container-checkbox{
  font-size: medium;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  border-top: solid 1px #F5F5F5;
}
.container-history{
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
.container-equipment-list{
  overflow-x: scroll;
  height: 90vh;
}
.container-list-item-header{
  width: auto;
  display: flex;
  justify-content: flex-start;
  color: #FFF;
  font-weight: bold;
  font-size: small;
  background-color: #757575;
  border-radius: 5px;
  box-shadow: 2px 5px 5px  #888888;
  margin: 10px 20px;
}
.list-item-data-header{
  width: 200px;
}
.container-list-item{
  display: flex;
  font-weight: bold;
  font-size: small;
  justify-content: flex-start;
  width: auto;
  height: 50px;
  background-color: #F5F5F5;
  margin: 10px 20px;
  border: solid 2px #757575;
  border-radius: 5px;
  box-shadow: 2px 5px 5px  #888888;
}
.list-item-data{
  width: 200px;
}

.login-page{
  color: black;
  margin: 50px 20px;
  align-items: center;
  flex-direction: column;
}
.login-title{
  width: 100%;
  align-items: center;
}
.search{
  display: flex;
  margin: 25px 20px;
  justify-content: space-between;
}
.search-bar{
  margin: 0px 10px;
}
.status-filter{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes critical{
  from{background-color: #D32F2F;
  color: #FFF;}
  to{background-color: #FFCDD2;
    color: #000;}
}

.percent{
  width: 50%;
  margin: 20px;
  height: 95%;
  color: #000;
  border-radius: 10px;
  background-color: #F5F5F5;
  align-items: center;
}
.pending{
  width: 50%;
  margin: 20px;
  height: 95%;
  color: #000;
  border-radius: 10px;
  background-color: #F5F5F5;
  overflow-y: scroll;
  align-items: center;
}
.td-critical{
  animation: critical 2.5s infinite;
  font-weight: bold;
}
.buttons{
  margin-top: 10px;
}
.buttons-manage{
  display: flex;
  margin: 0px 20px;
  width:5%;
  justify-content: space-around;
}
.section-head{
  display: flex;
  width: 95%;
  margin: 0px 20px 0px;
  align-items: center;
  justify-content: space-between;
}
.input-info{
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  color: #757575;
  align-items: center;
}
.input-info-login{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  color: #757575;
  align-items: center;
}
.user-form{
  display: flex;
  justify-content: flex-start;
  color: #FFF;
  width: 95%;
  height: 40px;
  font-weight: bold;
  background-color: #757575;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px  #888888;
  padding: 5px;
}
input, select{
  border-radius: 5px;
  border: solid 2px #212121;
  padding: 5px 0px 5px 10px;
  font-size: medium;
}
.user-info-input{
  color: #000;
  width: 30%;
  margin: 5px 2px;
}
.user-credentials{
  border-radius: 5px;
  padding: 5px 0px 5px 10px;
  font-size: medium;
}
.container-radio-label{
  display: flex;
  justify-content: center;
  margin: 8px 2px;
}
.radio-label{
  font-size: medium;
}
.input-login{
  border-radius: 5px;
  border: solid 2px #212121;
  padding: 5px 10px 5px 10px;
  font-size: medium;
  width: 300px;
}

input:hover, input:active, select:hover{
  border: solid 2px #FFA000;
}
.btn{
  padding: 10px 20px;
  margin: 20px 3px 20px 15px;
  font-size: medium;
  background-color: #FFC107;
  color: #000;
  border-radius : 10px;
  border: none;
}
.btn-login{
  align-items: center;
  width: 300px;
  padding: 10px 20px;
  margin: 20px 50px;
  font-size: medium;
  background-color: #FFC107;
  color: #000;
  border-radius : 10px;
  border: none;
}
.btn:hover, .btn:active, .btn-login:active{
  background-color: #FFA000;
  font-weight: bold;
  cursor: pointer;
}
a {
  background-color: #212121;
  width: 200px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px 2px 0px 2px;
  font-weight: bold;
  border-radius: 5px;
  color: #FFF;
}

a:visited {
  color: #FFF;
}

.checkbox-column{
  display: flex;
  flex-direction: column;
}
.checkbox-label{
  display: flex;
  width: 200px;
  margin: 2px;
  align-items: flex-start;
}
.details{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.details-column{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px 80px;
}
.details-column-info{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px 50px;
}
.detail-title{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}
.container-details{
  flex-direction: column;
  color: #FFF;
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: 25px 20px;
  padding-top: 20px;
  border-top: 1px solid #F5F5F5;
}
.container-sort{
  display: flex;
  width: 100%;
}
a:hover, a:active {
  background-color: #FFA000;
  color: #000;
  font-weight: bold;
}

.nav-active {
  background-color: #FFA000;
  color: #000;
  font-weight: bold;
}

.section-title{
  color: #FFF;
  display: flex;
  font-size: large;
  width: 50%;
  justify-content: flex-start;
}
.section-logo{
  margin: 10px 20px 5px 5px;
}
.dashboard-title{
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}
.item-details{
  width: 95%;
  display: flex;
  flex-direction: row;
}
.item-info{
  width: 25%;
  margin: 5px 2px;
  color: #000;
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px 0px;
}
.item-header{
  width: 24%;
  margin: 2px 2px;
  color: #FFF;
  font-weight: bold;
}
.item-user-header{
  width: 26%;
  margin: 2px 15px;
  color: #FFF;
  font-weight: bold;
}
.user-info-header{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.label-info{
  font-size: large;
  font-weight: bold;
  color: #000;
  margin: 10px 5px;
}
label{
  color: #FFF;
  margin: 10px 5px;
}
table{
  width: 100%;
  margin: 10px;
  justify-content: center;
  background-color: #757575;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  box-shadow: 2px 5px 5px  #888888;
  border-collapse: collapse;
}

th{
  font-size: smaller;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2px 20px;
}
td{
  font-size: smaller;
  padding: 2px 20px;
  background: #FFF;
  border-bottom: solid 1px #757575;
  overflow: hidden;
}
.history{
  width: 95%;
  margin: 2px 20px;
  font-size: medium;
  overflow-y: scroll;
  overflow-x: scroll;
}
.information{
  width: 95%;
  margin: 2px 20px;
  font-size: medium;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;
}
.view-info-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input[type='checkbox'] {
  cursor: pointer;
}
input[type=checkbox]:after{
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F5F5F5;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 8px;
}
@media(max-width: 800px){
  .header{
    flex-direction: column;
  }
  .container-body{
    flex-direction: column;
  }
  .container-nav{
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    height: 8vh;
    background: #800000;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .container-dashboard{
    width: 100%;
    height: 100%;
    margin: 20px 0px;
    font-size: small;
  }
  .container-search, .container-add-user{
    width: 100%;
    flex-direction: column;
    margin: 10px 0;
  }
  .search{
    width: 100%;
    flex-direction: column;
    margin: 10px 0;
  }
  .search-bar{
    margin: 10px 5px;
  }
  a{
    padding: 2px 4px;
  }
  .footer{
    min-height: 2vh;
    font-size: x-small;
  }
  a:link, a:visited {
    width: auto;
    /* background: #800000; */
    color: #FFF;
    font-size: medium;
    padding: 2px 10px;
    margin: 5px 20px;
    justify-content: space-around;
  }
  a:hover, a:active, a:focus {
    background: #FFA000;
    color: #212121;
  }
  
  .details{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .details-column{
    align-items: center;
  }
  .container-add, .container-edit, .container-item{
    width: 100%;
    margin: 20px 0px;
    padding-bottom: 50px;
  }
  .container-details{
    margin: 20px 0px;
  }
  .container-metrics{
    flex-direction: column;
  }
  .container-item{
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 10px 0px;
    margin: 10px 0px;
  }
  .user-form{
    flex-direction: column;
    width: 100%;
    height: 120px;
    padding: 10px 0px;
    margin: 10px 0px;
  }
  .container-item-header, .user-info-header{
    width: 100%;
    margin: 0px;
  }
  .container-sort{
    flex-direction: column;
  }
  .section-title, th, td, .item-header{
    font-size: small;
  }
  .detail-title{
    justify-content: flex-start;
    margin: 0px 20px;
    font-size: medium;
  }
  .input-info, .input-info-login{
    margin: 10px 0px;
  }
  .section-head{
    flex-direction: column;
  }
  .section-title{
    width: 100%;
    font-size: medium;
  }
  .percent{
    width: 100%;
    margin: 20px 0px;
  }
  .pending{
    width: 100%;
    margin: 20px 0px;
  }
  .buttons-manage{
    margin: 2px 20px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .item-details, .buttons-manage{
    width: 100%;
  }
  .item-info{
    font-size: small;
    width: 25%;
    padding: 2px 0px;
  }
  .item-user-header{
    width: 33%;
  }
  .container-radio-label{
    flex-direction: column;
    align-items: right;
    margin: 0px;
  }
  .container-credentials{
    width: 100%;
    margin: 5px;
  }
  .radio-label{
    font-size: small;
  }
  .user-info-input{
    width:33%
  }
  .user-credentials{
    width:90%;
  }
  .history{
    width: 100%;
    margin: 2px 0px;
  }
  .container-history{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .container-checkbox{
    flex-direction: column;
  }
  .checkbox-label{
    width: 100%;
  }
  .container-equipment-info{
    width: 100%;
    margin: 0;
  }
  .container-equipment-list{
    width: 100%;
  }
  .details-column-info{
    width: 90%;
  }
}